.black-bg {
  /* 1. starting point */
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  /* display: none; */
  visibility: hidden; /* In UI Animation, display: none; 대신 사용 */
  opacity: 0;
  transition: all 0.5s; /* 4. add a transition at starting point */
}

.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

.show-modal {
  /* 2. end point */
  /* display: block; */
  visibility: visible; /* In UI Animation, display: block; 대신 사용 */
  opacity: 1;
}
